@model RentalAndSaleOfApartments.Models.Sale

@{
    ViewData["Title"] = "DeleteSale";
}

<h1>DeleteSale</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeInM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeInM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnersPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnersPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRenovation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRenovation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedOnSite)
        </dd>
    </dl>
    
    <form asp-action="DeleteSale">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
